* {

}

html {
    margin: 50px;
    font-size: 10px;
}

/* Button, switcher */
ul {
    margin-top: 30px;
    display: flex;
    list-style: none;
    margin-bottom: 50px;
}

li {
    width: 20px;
    margin-right: 20px;
    height: 20px;
    border-radius: 15px;
    border: 1.5px solid black;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

/* main section*/
main {
    color: black;
}

p {
    margin-top: 10px;
}
/*color changes*/
.red-theme {
    background-color: red;
    color: black;
}

.white-theme {
    background-color: white;
    color: black;
}

.pink-theme {
    background-color: pink;
    color: yellow;
}

.blue-theme {
    background-color: blue;
    color: white;
}
