* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}


body {
    font-family: 'Adobe Arabic';
    font-size: 1em;
}

p {
    text-indent: 2em;
}



.title1 {
    font-size:4em;
}

.poem {
    font-size: 2em;
    font-family: "Segoe Script", serif
}