* {
    margin: 0;
    padding: 0;
}


body {
    font-family:'Adobe Arabic';
}



.container {
    display: flex;
    flex-direction: row;
    margin: 12;
    padding: 12;
}

.item {
    width: 25%;
    background: black;
    color:white;
}