* {
    margin: 0;
    padding: 0;
}


body {
    font-family:'Adobe Arabic';
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px 24px 12px 24px;
    padding: 24;
}

.item {
    font-family: Roboto Condensed;
    font-size:12;
    background: SteelBlue;
    color: white;
    margin: 12;
    padding: 12;
}

