


body {
    background-color: LemonChiffon;
}

h1 {
    color: black;
    text-align: center;
}

h1:hover {
    color: white;
    border: 2px solid orange;
    font-size: 60px;
    background-color: black;
}

h3 {
    color: black;
    text-align: left;
}



p {
    
    color: black;
    padding: 10px;
    margin-inline-end: 40px;
 
}


