
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Oswald:wght@300&display=swap" rel="stylesheet" >

body {
    background-color: LemonChiffon;
}

h1 {
    color: black;
    text-align: center;
}

h1:hover {
    color:orange
    border: 2px solid yellow;
}

h3 {
    color: black;
    text-align: left;
}

p {
    color: black;
    padding: 10px;
    margin-inline-end: 40px;
    
    text-align: left;
}
